HOMEGUARD_SCAN_INTERVAL=30
HOMEGUARD_UNKNOWN_THRESHOLD_SECONDS=120
HOMEGUARD_NETWORK_CIDR=192.168.1.0/24
HOMEGUARD_DEMO_MODE=false

THINGSPEAK_ENABLED=true
THINGSPEAK_CHANNEL_ID=your_channel_id
THINGSPEAK_WRITE_API_KEY=your_write_api_key

TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

